@font-face {
  font-family: Ubuntu-Regular;
  src: url('../fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Ubuntu-Regular, sans-serif;
}

input {
	outline: none;
	border: none;
}

label {
  display: inline-block;
  margin: 0;
}

button {
	outline: none;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

.main-body{
    background-color: #f5f5f5;
    margin: auto;
    margin-top: 30px;
    width: 90%;
    display: block;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.login-form-wrap {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #f5f5f5;
}

.create-form-wrap {
    width: 900px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #f5f5f5;
}

.wrap-input {
    width: 100%;
    position: relative;
    background-color: #e6e6e6;
    border: 1px solid transparent;
    border-radius: 3px;
    margin: 20px 0;
}

.wrap-checkbox {
  	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
    margin: 20px 0;
}

.content-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content-wrap {
    /* width: 500px; */
    width: 100%;
    /* height: -webkit-fill-available; */
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    background-color: #f5f5f5;
}

.upper-content-wrap {
    padding: 10px 0;
}

.input-box {
    font-family: Ubuntu-Bold;
    color: #403866;
    line-height: 1.2;
    font-size: 18px;
    display: block;
    width: 100%;
    background: transparent;
    height: 62px;
    padding: 0 20px 0 38px;
}

.input-checkbox {
  display: none;
}

.label-checkbox {
  font-family: Ubuntu-Regular;
  font-size: 16px;
  color: #999999;
  line-height: 1.2;

  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #827ffe;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox100::before {
  color: #827ffe;
}

.container-login-submit {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.login-submit {
  font-family: Ubuntu-Bold;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 62px;
  background-color: #827ffe;
  border-radius: 3px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.login-submit:hover {
  background-color: #403866;
}

.form50 {
  width: 50%;
  margin: 0 auto;
  background: transparent;
  padding: 0 20px 0 38px;
}

.form-title {
  font-family: Ubuntu-Bold;
  font-size: 30px;
  color: #403866;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 51px;
  width: 100%;
  display: block;
}

.input-label-top {
  font-family: Ubuntu-Bold;
  font-size: 18px;
}

.float-l {float: left;}
.float-r {float: right;}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.group-row {
    font-family: Ubuntu-Bold;
    font-size: 30px;
    line-height: 2;

    /* border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    background-color: #f0f0f0; */
    display: flex;
}

.viewButtonBox {
    display: flex;
    margin: 5px;
}

.viewButton {
    margin-left: 10px;
    width: 200px;
}

.calendar-container {
    background-color: white;
    margin-top: 10px;
    margin-left: 15px;
    width: 95%;
    height: 575px;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
}

.calendar-day-row {
    background-color: #f0f0f0;
    font-size: 15px;
    line-height: 2;

    width: 100%;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    background-color: #f0f0f0;
    float: left;
    display: flex;
}

.day-row {
    background-color: #f0f0f0;
    font-size: 15px;
    line-height: 2;
    text-align: center;
    width: 15%;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    float: left;
}

.time-row {
    width: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    float: left;
    display: flex;
}

.time-box {
    font-size: 13px;
    line-height: 2;
    text-align: center;
    width: 15%;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    float: left;
}

.time-box-no-edit {
    font-size: 13px;
    line-height: 2;
    text-align: center;
    width: 15%;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    float: left;
}

.group-row-user-box {
    font-family: Ubuntu-Bold;
    font-size: 15px;
    line-height: 3;

    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;

    display: flex;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: .3rem;
}

.group-row-user-box-colour {
    float: left;
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-left: 5px;
    margin-right: 5px;
}

.submit-button-box {
    width: 200px;
    margin: 15px;
}

.comment-box{
    line-height: 1.5;
    /* padding-left: 15px; */

    background-color: #f5f5f5;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd;
    margin: auto;
    margin-top: 10px;
    /* width: 90% */
    padding-top: 30px;
    padding-bottom: 30px;
}

.comment-input {
    width: 97%;
}

.cyan {
    background: cyan;
}

.blue {
    background: blue;
}

.purple {
    background: purple;
}

.cyan-text {
    font-weight: bold;
    color: cyan;
    border-style: solid;
    border-width: 1px;
    border-color: cyan;
}
.blue-text {
    font-weight: bold;
    color: blue;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
}
.purple-text {
    font-weight: bold;
    color: purple;
    border-style: solid;
    border-width: 1px;
    border-color: purple;
}

.error {
    color: #ff0000;
}

.login-btn {
    padding: 0 20px;
    width: 100%;
    height: 58px;
}